@use 'variables';
@use 'global';


/* Header */

header.primary{
    display: flex;
    justify-content: space-between;
}

header svg{
    width: 42px;
}

.user img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 2em;
}


header.primary, .user{
    display: flex;
    align-items: center;
    gap: 1em;
}

a.logo img{
    width: 170px;
}



/* Mobile Nav */


aside {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    height: 100vh;
    background: var(--primary-color);
    width: 40%;
    padding: 3em;
    text-align: right;
    transition: transform .6s;
    transform: translateX(0);


    a{
        color: white;
        font-size: 2.6rem;
    }

    img{
        background: white;
        width: 30px;
        height: 30px;
        border-radius: .3em;
        cursor: pointer;
    }

    ul{
        margin-top: 6em;

        li{
            margin-bottom: 1.5em;
        }
    }

}


.toggole-menu{
    transform: translateX(0);
}
